# ENERGY

In [ ]:
import pandas as pd
import numpy as np
address1='/content/drive/My Drive/Coursera Michigan Python/Energy Indicators.xlsx'

In [ ]:
energy = pd.read_excel('Energy Indicators.xls', skip_footer=38, skiprows=17, parse_cols='C:F')

#### Skip header and footer

In [ ]:
pd.read_excel(address1,skiprows=17,skipfooter=38).tail(39)

     Unnamed: 0  ... Unnamed: 6
188         NaN  ...        NaN
189         NaN  ...        NaN
190         NaN  ...        NaN
191         NaN  ...        NaN
192         NaN  ...        NaN
193         NaN  ...        NaN
194         NaN  ...        NaN
195         NaN  ...        NaN
196         NaN  ...        NaN
197         NaN  ...        NaN
198         NaN  ...        NaN
199         NaN  ...        NaN
200         NaN  ...        NaN
201         NaN  ...        NaN
202         NaN  ...        NaN
203         NaN  ...        NaN
204         NaN  ...        NaN
205         NaN  ...        NaN
206         NaN  ...        NaN
207         NaN  ...        NaN
208         NaN  ...        NaN
209         NaN  ...        NaN
210         NaN  ...        NaN
211         NaN  ...        NaN
212         NaN  ...        NaN
213         NaN  ...        NaN
214         NaN  ...        NaN
215         NaN  ...        NaN
216         NaN  ...        NaN
217         NaN  ...        NaN
218         NaN  ...        NaN
219         NaN  ...        NaN
220         NaN  ...        NaN
221         NaN  ...        NaN
222         NaN  ...        NaN
223         NaN  ...        NaN
224         NaN  ...        NaN
225         NaN  ...        NaN
226         NaN  ...        NaN

[39 rows x 7 columns]

In [ ]:
energy=pd.read_excel(address1,skiprows=17,skipfooter=38)

#### 2 Remove 1st 2 columns
### Vimp Dont forget the axis=1

In [ ]:
energy.head(2)

   Unnamed: 0   Unnamed: 1   Unnamed: 2  ... Gigajoules          %  Unnamed: 6
0         NaN  Afghanistan  Afghanistan  ...         10   78.66928         NaN
1         NaN      Albania      Albania  ...         35  100.00000         NaN

[2 rows x 7 columns]

In [ ]:
energy.drop(columns=['Unnamed: 0','Unnamed: 1'],axis=1,inplace=True)
# energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1,inplace=True)
energy.head(2)

    Unnamed: 2 Petajoules Gigajoules          %  Unnamed: 6
0  Afghanistan        321         10   78.66928         NaN
1      Albania        102         35  100.00000         NaN

#### Rename columns {"Unnamed: 2": "Country", "Petajoules": "Energy Supply", "Gigajoules": "Energy Supply per Capita","%" : "% Renewable"}

In [ ]:
columns_dict={"Unnamed: 2": "Country", "Petajoules": "Energy Supply", "Gigajoules": "Energy Supply per Capita","%" : "% Renewable"}

In [ ]:
#Note we use RENAME and axis=1 to change columns name

energy.rename(mapper=columns_dict,axis=1,inplace=True)

In [ ]:
energy.head(3)

       Country Energy Supply Energy Supply per Capita  % Renewable  Unnamed: 6
0  Afghanistan           321                       10     78.66928         NaN
1      Albania           102                       35    100.00000         NaN
2      Algeria          1959                       51      0.55101         NaN

#### Change ['Energy Supply'] to Gigajoules *= 1000000

In [ ]:
energy['Energy Supply'] *= 1000000

#### For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

In [ ]:
for col in energy:
  energy[col]=energy[col].replace("...",np.NaN)

#### Rename the following list ( Note : Rows)of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

### Imp Note to use RENAME for rows,we need to change the row to index

In [ ]:
energy.set_index('Country',inplace=True)

In [ ]:
energy.head(3)

            Energy Supply  Energy Supply per Capita  % Renewable  Unnamed: 6
Country
Afghanistan     321000000                      10.0     78.66928         NaN
Albania         102000000                      35.0    100.00000         NaN
Algeria        1959000000                      51.0      0.55101         NaN

In [ ]:
rows_dict={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"}

In [ ]:
energy.rename(mapper=rows_dict,axis=0,inplace=True)

#### Check if the new name is "South Korea"

In [ ]:
energy[energy.index=='South Korea']

            Energy Supply  Energy Supply per Capita  % Renewable  Unnamed: 6
Country
South Korea   11007000000                     221.0     2.279353         NaN

#### Check "South Korea" if the Country column is not an index

In [ ]:
energy.reset_index(inplace=True)

In [ ]:
energy.loc[energy['Country']=='South Korea']

         Country Energy Supply  ...  % Renewable  Unnamed: 6
164  South Korea   11007000000  ...     2.279353         NaN

[1 rows x 5 columns]

In [ ]:
energy.set_index('Country',inplace=True)

#### Step Removing Parenthesis from "Country" like: 
'Bolivia (Plurinational State of)'

##### Take help at https://regex101.com/ 

---

In [ ]:
energy[energy.index=='Bolivia (Plurinational State of)']

                                 Energy Supply  ...  Unnamed: 6
Country                                         ...
Bolivia (Plurinational State of)     336000000  ...         NaN

[1 rows x 4 columns]

#### Case-1: If country is not in index then its easy to use Regex.
First remove country from index

In [ ]:
energy.reset_index(inplace=True)

In [ ]:
#dont forget to give space ,' '
energy['Country']=energy['Country'].str.replace(r'\(.*\)',' ')

In [ ]:
energy['Country']=energy['Country'].str.strip()

In [ ]:
energy[energy['Country']=='Bolivia']

    Country Energy Supply  Energy Supply per Capita  % Renewable  Unnamed: 6
24  Bolivia     336000000                      32.0     31.47712         NaN

In [ ]:
energy[energy['Country']=='Bolivia (Plurinational State of)']

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable, Unnamed: 6]
Index: []

#### Now remove the digits

In [ ]:
energy[energy['Country']=='Switzerland17']

           Country Energy Supply  ...  % Renewable  Unnamed: 6
197  Switzerland17    1113000000  ...     57.74548         NaN

[1 rows x 5 columns]

In [ ]:
# first find the digits in the entries
mask = energy[['Country']].apply(
    lambda x: x.str.contains(
        r'Switzerland',
        regex=True
    )
).any(axis=1)

In [ ]:
print (energy[mask])

           Country Energy Supply  ...  % Renewable  Unnamed: 6
197  Switzerland17    1113000000  ...     57.74548         NaN

[1 rows x 5 columns]

In [ ]:
energy['Country']=energy['Country'].str.replace(r'\d+','')

In [ ]:
energy[energy['Country']=='Switzerland17']

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable, Unnamed: 6]
Index: []

In [ ]:
energy[energy['Country']=='Switzerland']

         Country Energy Supply  ...  % Renewable  Unnamed: 6
197  Switzerland    1113000000  ...     57.74548         NaN

[1 rows x 5 columns]

In [ ]:
energy.set_index('Country',inplace=True)

# GDP

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
GDPc='/content/drive/My Drive/Coursera Michigan Python/world_bank.csv'

In [ ]:
pd.read_csv(GDPc).head(5)

         Data Source World Development Indicators  ... Unnamed: 62 Unnamed: 63
0                NaN                          NaN  ...         NaN         NaN
1  Last Updated Date                     7/1/2020  ...         NaN         NaN
2                NaN                          NaN  ...         NaN         NaN
3       Country Name                 Country Code  ...      2018.0      2019.0
4              Aruba                          ABW  ...         NaN         NaN

[5 rows x 64 columns]

In [ ]:
# Remove the first 4 rows
pd.read_csv(GDPc,skiprows=4).head()

  Country Name Country Code  ...          2018          2019
0        Aruba          ABW  ...           NaN           NaN
1  Afghanistan          AFG  ...  1.948438e+10  1.910135e+10
2       Angola          AGO  ...  1.013530e+11  9.463542e+10
3      Albania          ALB  ...  1.514702e+10  1.527808e+10
4      Andorra          AND  ...  3.218316e+09  3.154058e+09

[5 rows x 64 columns]

In [ ]:
GDP=pd.read_csv(GDPc,skiprows=4)

##### Note Country is not in Index here

In [ ]:
GDP.index

RangeIndex(start=0, stop=264, step=1)

In [ ]:
energy.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       ...
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country', length=227)

#### Rename the countries with new names
"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

In [ ]:
rows_dict_GDP={"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}

#### Rename only works if its an index

In [ ]:
GDP.set_index('Country Name',inplace=True)

In [ ]:
GDP.rename(mapper=rows_dict_GDP,axis=0,inplace=True)

In [ ]:
#checking
#GDP.loc[GDP['Country Name']=='Hong Kong SAR, China']
GDP[GDP.index=='Hong Kong']

             Country Code     Indicator Name  ...          2018          2019
Country Name                                  ...
Hong Kong             HKG  GDP (current US$)  ...  3.616930e+11  3.660300e+11

[1 rows x 63 columns]

### Keep only 2006 to 2016 in the GDP
#### Use GDP[np.append(,)]

In [ ]:
year_to_keep=np.arange(2006,2016).astype(str)
year_to_keep

array(['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'], dtype='<U21')

In [ ]:
GDP.index

Index(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country Name', length=264)

In [ ]:
GDP.head(3)

             Country Code     Indicator Name  ...          2018          2019
Country Name                                  ...
Aruba                 ABW  GDP (current US$)  ...           NaN           NaN
Afghanistan           AFG  GDP (current US$)  ...  1.948438e+10  1.910135e+10
Angola                AGO  GDP (current US$)  ...  1.013530e+11  9.463542e+10

[3 rows x 63 columns]

In [ ]:
GDP.reset_index(inplace=True)

In [ ]:
#Note dont use GDP again inside []

years_to_keep = np.arange(2006, 2016).astype(str)
GDP = GDP[np.append('Country Name',years_to_keep)]

In [ ]:
GDP.head()

  Country Name          2006  ...          2014          2015
0        Aruba  2.424581e+09  ...  2.765363e+09  2.919553e+09
1  Afghanistan  6.971286e+09  ...  2.048489e+10  1.990711e+10
2       Angola  5.238101e+10  ...  1.457120e+11  1.161940e+11
3      Albania  8.896074e+09  ...  1.322814e+10  1.138685e+10
4      Andorra  3.456442e+09  ...  3.271808e+09  2.789870e+09

[5 rows x 11 columns]

#### Change Country Name to Country

In [ ]:
 GDP.rename(columns={'Country Name': 'Country'},inplace=True)

In [ ]:
GDP.set_index('Country',inplace=True)

In [ ]:
GDP.head(2)

                     2006          2007  ...          2014          2015
Country                                  ...
Aruba        2.424581e+09  2.615084e+09  ...  2.765363e+09  2.919553e+09
Afghanistan  6.971286e+09  9.747880e+09  ...  2.048489e+10  1.990711e+10

[2 rows x 10 columns]

# ScimEn

In [ ]:
ScimEn='/content/drive/My Drive/Coursera Michigan Python/scimagojr country rank 1996-2019.xlsx'

In [ ]:
ScimEn=pd.read_excel(ScimEn,index_col=None)

In [ ]:
ScimEn.set_index('Country',inplace=True)

# Do the Join 
But, what if the column names are different in the two dataframes? Then, we have to explicitly mention both the column names.

left_on and right_on are two arguments through which we can achieve this. left_on is the name of the key in the left dataframe and right_on in the right dataframe:

In [ ]:
Newdf = pd.merge(ScimEn,energy,how='outer',left_on='Country',right_on='Country')
Newdf2 = pd.merge(Newdf,GDP,how='outer',left_on='Country',right_on='Country')

In [ ]:
Newdf2 = Newdf2[:15] 
    # Top 15 countries

In [ ]:
Newdf2.head(15)

                    Rank            Region  ...          2014          2015
Country                                     ...
China                1.0    Asiatic Region  ...  1.047570e+13  1.106160e+13
United States        2.0  Northern America  ...  1.752170e+13  1.821930e+13
Japan                3.0    Asiatic Region  ...  4.850410e+12  4.389480e+12
India                4.0    Asiatic Region  ...  2.039130e+12  2.103590e+12
United Kingdom       5.0    Western Europe  ...  3.063800e+12  2.928590e+12
Germany              6.0    Western Europe  ...  3.883920e+12  3.360550e+12
Russian Federation   7.0    Eastern Europe  ...  2.059240e+12  1.363480e+12
Canada               8.0  Northern America  ...  1.803530e+12  1.556130e+12
Italy                9.0    Western Europe  ...  2.159130e+12  1.835900e+12
South Korea         10.0    Asiatic Region  ...  1.484320e+12  1.465770e+12
France              11.0    Western Europe  ...  2.852170e+12  2.438210e+12
Iran                12.0       Middle East  ...  4.326870e+11  3.849510e+11
Spain               13.0    Western Europe  ...  1.369400e+12  1.195120e+12
Australia           14.0    Pacific Region  ...  1.467480e+12  1.351690e+12
Brazil              15.0     Latin America  ...  2.455990e+12  1.802210e+12

[15 rows x 22 columns]

# All combines in a single function

In [ ]:
def answer_one():
    import pandas as pd
    import numpy as np
    Energy_inidactor_xls='/content/drive/My Drive/Coursera Michigan Python/Energy Indicators.xlsx'
    energy = pd.read_excel(Energy_inidactor_xls,skiprows=17,skipfooter=38) # Skip header and footer
    # drop columns
    energy.drop(columns=['Unnamed: 0','Unnamed: 1'],axis=1,inplace=True)
    # Rename columns
    columns_dict={"Unnamed: 2": "Country", "Petajoules": "Energy Supply", "Gigajoules": "Energy Supply per Capita","%" : "% Renewable"}
    energy.rename(mapper=columns_dict,axis=1,inplace=True)
    #Change ['Energy Supply'] to Gigajoules
    energy['Energy Supply'] *= 1000000
    # dropna
    energy.dropna()
    for col in energy:
      energy[col] = energy[col].replace('...',np.nan)
    # to rename rows, change the corresponding column 'Country' to index
    energy.set_index('Country',inplace=True)
    rows_dict={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"}
    energy.rename(mapper=rows_dict,axis=0,inplace=True)
    # to remove parnethesis and digits and spaces..first remove "Country" from index
    energy.reset_index(inplace=True)
    #dont forget to give space ,' '
    energy['Country']=energy['Country'].str.replace(r'\(.*\)',' ')
    energy['Country']=energy['Country'].str.replace(r'\d+','')
    # remove spaces
    energy['Country']=energy['Country'].str.strip()
    # GDP
    world_bank_csv='/content/drive/My Drive/Coursera Michigan Python/world_bank.csv'
    GDP = pd.read_csv(world_bank_csv, skiprows=4) 
    # Rename the countries with new names
    rows_dict_GDP={"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}
    # Rename only works if its an index
    GDP.set_index('Country Name',inplace=True)
    GDP.rename(mapper=rows_dict_GDP,axis=0,inplace=True)
    #Keep only 2006 to 2016 in the GDP
    years_to_keep=np.arange(2006,2016).astype(str)
    # To use np.append we need to convert Country_name from index to column
    GDP.reset_index(inplace=True)
    GDP = GDP[np.append('Country Name',years_to_keep)]
    # rename the column .Here also the Country Name should not be index
    GDP.rename(columns={'Country Name': 'Country'},inplace=True)
    GDP.set_index('Country',inplace=True)

    #ScimEn data
    scimagojr_3_xlsx='/content/drive/My Drive/Coursera Michigan Python/scimagojr country rank 1996-2019.xlsx'
    ScimEn=pd.read_excel(scimagojr_3_xlsx,index_col=None)
    # set country to index
    ScimEn.set_index('Country',inplace=True)
    # START THE JOINS
    Newdf = pd.merge(ScimEn,energy,how='outer',left_on='Country',right_on='Country')
    Newdf2 = pd.merge(Newdf,GDP,how='outer',left_on='Country',right_on='Country') 
    Newdf3 = Newdf2[:15]
    Newdf4=Newdf3[['Country','Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    Newdf4 = Newdf4.set_index('Country')

    return Newdf4
answer_one()

                    Rank  Documents  ...          2014          2015
Country                              ...
China                1.0   235126.0  ...  1.047570e+13  1.106160e+13
United States        2.0   157811.0  ...  1.752170e+13  1.821930e+13
Japan                3.0    46032.0  ...  4.850410e+12  4.389480e+12
India                4.0    39893.0  ...  2.039130e+12  2.103590e+12
United Kingdom       5.0    38873.0  ...  3.063800e+12  2.928590e+12
Germany              6.0    32935.0  ...  3.883920e+12  3.360550e+12
Russian Federation   7.0    31880.0  ...  2.059240e+12  1.363480e+12
Canada               8.0    29633.0  ...  1.803530e+12  1.556130e+12
Italy                9.0    23725.0  ...  2.159130e+12  1.835900e+12
South Korea         10.0    23451.0  ...  1.484320e+12  1.465770e+12
France              11.0    22429.0  ...  2.852170e+12  2.438210e+12
Iran                12.0    19371.0  ...  4.326870e+11  3.849510e+11
Spain               13.0    18882.0  ...  1.369400e+12  1.195120e+12
Australia           14.0    18077.0  ...  1.467480e+12  1.351690e+12
Brazil              15.0    18024.0  ...  2.455990e+12  1.802210e+12

[15 rows x 20 columns]

In [ ]:
answer_one().shape

(15, 20)

# Question 2

Question 2 (6.6%)

The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number.

### Just the Union of all 3 subtracted by the intersections
Note: Union is OUTER JOIN and Intersections is INNER JOIN

In [ ]:
def answer_two():
    import pandas as pd
    import numpy as np
    Energy_inidactor_xls='/content/drive/My Drive/Coursera Michigan Python/Energy Indicators.xlsx'
    energy = pd.read_excel(Energy_inidactor_xls,skiprows=17,skipfooter=38) # Skip header and footer
    # drop columns
    energy.drop(columns=['Unnamed: 0','Unnamed: 1'],axis=1,inplace=True)
    # Rename columns
    columns_dict={"Unnamed: 2": "Country", "Petajoules": "Energy Supply", "Gigajoules": "Energy Supply per Capita","%" : "% Renewable"}
    energy.rename(mapper=columns_dict,axis=1,inplace=True)
    #Change ['Energy Supply'] to Gigajoules
    energy['Energy Supply'] *= 1000000
    # dropna
    energy.dropna()
    for col in energy:
      energy[col] = energy[col].replace('...',np.nan)
    # to rename rows, change the corresponding column 'Country' to index
    energy.set_index('Country',inplace=True)
    rows_dict={"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"}
    energy.rename(mapper=rows_dict,axis=0,inplace=True)
    # to remove parnethesis and digits and spaces..first remove "Country" from index
    energy.reset_index(inplace=True)
    #dont forget to give space ,' '
    energy['Country']=energy['Country'].str.replace(r'\(.*\)',' ')
    energy['Country']=energy['Country'].str.replace(r'\d+','')
    # remove spaces
    energy['Country']=energy['Country'].str.strip()
    # GDP
    world_bank_csv='/content/drive/My Drive/Coursera Michigan Python/world_bank.csv'
    GDP = pd.read_csv(world_bank_csv, skiprows=4) 
    # Rename the countries with new names
    rows_dict_GDP={"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"}
    # Rename only works if its an index
    GDP.set_index('Country Name',inplace=True)
    GDP.rename(mapper=rows_dict_GDP,axis=0,inplace=True)
    #Keep only 2006 to 2016 in the GDP
    years_to_keep=np.arange(2006,2016).astype(str)
    # To use np.append we need to convert Country_name from index to column
    GDP.reset_index(inplace=True)
    GDP = GDP[np.append('Country Name',years_to_keep)]
    # rename the column .Here also the Country Name should not be index
    GDP.rename(columns={'Country Name': 'Country'},inplace=True)
    GDP.set_index('Country',inplace=True)

    #ScimEn data
    scimagojr_3_xlsx='/content/drive/My Drive/Coursera Michigan Python/scimagojr country rank 1996-2019.xlsx'
    ScimEn=pd.read_excel(scimagojr_3_xlsx,index_col=None)
    # set country to index
    ScimEn.set_index('Country',inplace=True)
    # START THE JOINS
    union = pd.merge(pd.merge(energy, GDP, on='Country', how='outer'), ScimEn, on='Country', how='outer')
    intersection = pd.merge(pd.merge(energy, GDP, on='Country',how='inner'), ScimEn, on='Country',how='inner')
    # if we dont mention how=' ' ,Then its by defualt inner
    intersection = pd.merge(pd.merge(energy, GDP, on='Country'), ScimEn, on='Country')
    return len(union) - len(intersection)

answer_two()

156

# Q 3 . Avereage GDP in last 10 years (for each country)

we take mean of the last ten years

In [ ]:
top_15=answer_one()

In [ ]:
top_15.head(2)

               Rank  Documents  ...          2014          2015
Country                         ...
China           1.0   235126.0  ...  1.047570e+13  1.106160e+13
United States   2.0   157811.0  ...  1.752170e+13  1.821930e+13

[2 rows x 20 columns]

In [ ]:
top_15.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [ ]:
# we only need the last 10 columns
top_15_10=top_15.iloc[:,10:]

In [ ]:
top_15_10.columns

Index(['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object')

In [ ]:
# just take the mean using axis=1
top_15_10.mean(axis=1)

Country
China                 6.927708e+12
United States         1.566857e+13
Japan                 5.177131e+12
India                 1.602354e+12
United Kingdom        2.776606e+12
Germany               3.518656e+12
Russian Federation    1.666747e+12
Canada                1.613835e+12
Italy                 2.139775e+12
South Korea           1.221372e+12
France                2.687371e+12
Iran                  4.389286e+11
Spain                 1.398586e+12
Australia             1.206525e+12
Brazil                1.988883e+12
dtype: float64

In [ ]:
#also sort it
top_15_10.mean(axis=1).sort_values(ascending=False)

Country
United States         1.566857e+13
China                 6.927708e+12
Japan                 5.177131e+12
Germany               3.518656e+12
United Kingdom        2.776606e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988883e+12
Russian Federation    1.666747e+12
Canada                1.613835e+12
India                 1.602354e+12
Spain                 1.398586e+12
South Korea           1.221372e+12
Australia             1.206525e+12
Iran                  4.389286e+11
dtype: float64

In [ ]:
# the last 10 years...all rows but the 1st ten columns
top_15.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [ ]:
def answer_three():
    import pandas as pd
    Top15 = answer_one()
    Top15 = Top15.iloc[:,10:] 
    # Only include the years for columns
    avgGDP = Top15.mean(axis=1)
    return avgGDP.sort_values(ascending=False)

answer_three()

Country
United States         1.566857e+13
China                 6.927708e+12
Japan                 5.177131e+12
Germany               3.518656e+12
United Kingdom        2.776606e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988883e+12
Russian Federation    1.666747e+12
Canada                1.613835e+12
India                 1.602354e+12
Spain                 1.398586e+12
South Korea           1.221372e+12
Australia             1.206525e+12
Iran                  4.389286e+11
dtype: float64

In [ ]:
answer_three().index

Index(['United States', 'China', 'Japan', 'Germany', 'United Kingdom',
       'France', 'Italy', 'Brazil', 'Russian Federation', 'Canada', 'India',
       'Spain', 'South Korea', 'Australia', 'Iran'],
      dtype='object', name='Country')

# Question 4

By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

In [ ]:
# the top 10 average countries are
Top_10_avg=answer_three()
Top_10_avg

Country
United States         1.566857e+13
China                 6.927708e+12
Japan                 5.177131e+12
Germany               3.518656e+12
United Kingdom        2.776606e+12
France                2.687371e+12
Italy                 2.139775e+12
Brazil                1.988883e+12
Russian Federation    1.666747e+12
Canada                1.613835e+12
India                 1.602354e+12
Spain                 1.398586e+12
South Korea           1.221372e+12
Australia             1.206525e+12
Iran                  4.389286e+11
dtype: float64

In [ ]:
# We see its France at 5th index
Top_10_avg.index[5]

'France'

In [ ]:
# we have top 15
Top_15=answer_one()

In [ ]:
Top_15.loc["France"]['2015']

2438210000000.0

In [ ]:
def answer_four():
    Top15 = answer_one()
    SixAverage = answer_three().index[5] # i.e France
    
    return (Top15.loc[SixAverage]['2015'] - Top15.loc[SixAverage]['2006'])
answer_four()

119620000000.0

In [ ]:
def answer_four():
    Top15 = answer_one()
    avgGDP = answer_three()
    idx = avgGDP.index[5]
    return (Top15.loc[idx]['2015'] - Top15.loc[idx]['2006'])
answer_four()

119620000000.0

# Question 5

What is the mean Energy Supply per Capita?

In [ ]:
Top_15.head()

                Rank  Documents  ...          2014          2015
Country                          ...
China            1.0   235126.0  ...  1.047570e+13  1.106160e+13
United States    2.0   157811.0  ...  1.752170e+13  1.821930e+13
Japan            3.0    46032.0  ...  4.850410e+12  4.389480e+12
India            4.0    39893.0  ...  2.039130e+12  2.103590e+12
United Kingdom   5.0    38873.0  ...  3.063800e+12  2.928590e+12

[5 rows x 20 columns]

In [ ]:
Top_15['Energy Supply per Capita'].mean()
#Top15.mean(axis=1)

In [ ]:
def answer_five():
    Top15 = answer_one()
    return Top15['Energy Supply per Capita'].mean()
answer_five()

150.30769230769232

# Question 6

What country has the maximum % Renewable and what is the percentage?

In [ ]:
Top_15.head(2)

               Rank  Documents  ...          2014          2015
Country                         ...
China           1.0   235126.0  ...  1.047570e+13  1.106160e+13
United States   2.0   157811.0  ...  1.752170e+13  1.821930e+13

[2 rows x 20 columns]

In [ ]:
Top_15['% Renewable'].max()

69.64803

In [ ]:
Top_15['% Renewable'].idxmax()

'Brazil'

In [ ]:
def answer_six():
    Top15 = answer_one()
    return (Top15['% Renewable'].idxmax(), Top15['% Renewable'].max())
answer_six()

('Brazil', 69.64803)

# Question 7

Create a new column that is the ratio of ## 'Self-Citations' to 'Citations'.
 What is the maximum value for this new column, and what country has the highest ratio?

In [ ]:
Top_15['Ratio']=Top_15['Self-citations']/Top_15['Citations']

In [ ]:
Top_15.head(3)

               Rank  Documents  ...          2015     Ratio
Country                         ...
China           1.0   235126.0  ...  1.106160e+13  0.684142
United States   2.0   157811.0  ...  1.821930e+13  0.329464
Japan           3.0    46032.0  ...  4.389480e+12  0.251665

[3 rows x 21 columns]